# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# SQLite Database
database/app.db
*.db

# Local uploads & vector store
uploads/*
!uploads/.gitkeep
faiss_index/*
!faiss_index/.gitkeep

# Environment variables
.env

# Streamlit local state
.streamlit/runtime/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
